:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Purple: #9C77EB;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 20, 24);
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(22, 20, 24);
    color: #eee;
    user-select: none;
    position: relative;
}

h1 {
    position: absolute;
    font-size: clamp(1rem , 40vw, 18rem);
    filter: opacity(0.5);
}

.nft {
    max-width: 250px;
    margin: 5rem 0;
    padding: 1rem;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg,  rgba(17, 0, 32, .5) 0%,  rgba(101, 150, 241, .2) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nft img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: .5rem;
}

.nft-info {
    display: flex;
    flex-direction: column;
}

.nft-info h2{
    margin: .5rem 0;
}
p{
    margin: .5rem 0;
    color: var(--Soft-blue);
}

.nft-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff22;
}

.nft-price span {
    color: var(--Purple);
    font-weight: 700;
}

.nft-price img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: .2rem;
}

.nft-creator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.nft-creator img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--Purple);
}

.nft-creator p {
    font-size: 14px;
}

.nft-creator a {
    text-decoration: none;
    color: var(--Purple);
}

.nft::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
}

.nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.nft:hover::before {
    filter: brightness(.5);
    top: -100%;
    left: 200%;
}