@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


/* VARIABLES */


:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --Verified: hsla(333, 80%, 67%, 0.8);
    --Ratings-Hover: hsl(300, 49%, 47%);
    --Star: hsl(51, 100%, 50%);
    --Box-Shadow: hsla(300, 34%, 13%, 0.694);
}


/* RESETS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}


/* LAYOUT */

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: "League Spartan", sans-serif;
    background-image: url(../images/bg-pattern-top-desktop.svg),
        url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    padding: 0.63rem;
}

main {
    max-width: 90rem;
}

/* TOP COMPONENT */
.top-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.13rem;
}

.top-header {
    max-width: 31.25rem;
    font-size: clamp(1.38rem, calc(1.93rem + 1.88vw), 2.63rem);
    color: var(--Very-Dark-Magenta);
    margin-right: 0;
    margin-bottom: 1.25rem;
    background: linear-gradient(-60deg,
            hsl(268, 78%, 57%),
            hsl(333, 80%, 67%),
            hsl(300, 43%, 22%));
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-desciption {
    color: var(--Dark-Grayish-Magenta);
    max-width: 26.25rem;
    font-size: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
    line-height: 1.4;
    margin-bottom: 1.25rem;
}

/*RAITINGS*/
.top-raitings {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--Very-Dark-Magenta);
    gap: 1.25rem;
    margin-bottom: 0.63rem;
}

.raiting-item {
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    background-color: var(--Light-Grayish-Magenta);
    padding: 1.13rem 2rem;
    border-radius: 0.38rem;
    gap: 1.25rem;
}

.raiting-item:hover{
    background-color: var(--Dark-Grayish-Magenta);
    color: var(--White)
}

.raiting-stars {
    color: var(--Star);
}

.raiting-item:first-child {
    align-self: flex-start;
}

.raiting-item:last-child {
    align-self: flex-end;
}

/* TESTIM*/
.testimonial-component {
    max-width: 65rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.testimonial-card {
    max-width: 21.88rem;
    padding: 1.69rem;
    color: var(--Light-Grayish-Magenta);
    
    background: linear-gradient(135deg,
            hsla(300, 43%, 22%, 1) 0%,
            hsla(300, 46%, 32%, 1) 100%);

    border-radius: 0.5rem;
    box-shadow: 0 0.31rem 1.25rem var(--Box-Shadow);
    filter: brightness(1.2);
}

.testimonial-card:hover{
    background: var(--Very-Dark-Magenta);
}

.testimonial-card:first-child{
    align-self: start;
}

.testimonial-card:last-child{
    align-self: end;
}

.testimonial-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.testimonial-author img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.testimonial-author h2{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.testimonial-author span{
    color: var(--Verified);
}

.testimonial-text{
    font-size: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
    font-weight: 400;
    line-height: 1.4rem;
}

@media screen and (max-width: 768px) {
    main{
        width: 20rem;
    }
    .top-component{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .top-raitings{
        width: 20rem;  
    }
    .raiting-item{
        flex-direction: column;
        width: 20rem;
    }

    .testimonial-component{
        flex-direction: column;
    }
}